*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}
.caixa{
    min-height: 84.8vh;
}
.menu {
    background: rgb(218,218,218);
    background-image: linear-gradient( #515ff6, #dfdfdf);
    border-right: 1px solid #bcbcbc;
    border-top: 1px solid #bcbcbc;
}
.info_prof{
    line-height: 40px;
    color: #fff;
}
.info_prof h2{
    margin-top: 30px;
    font-size: 16px;
}
.cliente{
    margin-left: 15px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 234, 0);
}
.pets{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: rgb(255, 234, 0);
}
.nomeAnimal{
    font-size: 20px;
    font-weight: 600;
}
.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box{
    margin-top: 20px;
    border: 2px solid rgb(219, 219, 219);
    box-shadow: 2px 4px rgb(115, 115, 115);
    border-radius: 10px;
    margin: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Titulo{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 45px;
}
.head{
    border-bottom: 2px solid rgb(0, 0, 0);
    border-top: 2px solid #000;
    border-radius: 5px;
    background-color: #8f75da;
    padding-left: 10px;
    padding-right: 10px;
}
.body{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}
.botao{
    font-size: 20px;
}
